/* ==========================================================================
   Message for IE7
   ========================================================================== */

.browserWarning {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  color: red;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}