/* ==========================================================================
   Styles for test
   ========================================================================== */


/*
   Class for better presentation
   ========================================================================== */

.holder {
    padding-top: 20px;
    padding-bottom: 20px;
}

.headerEmphasized {
    border-bottom: 1px solid $color-gray;
    padding-bottom: 10px;
}

.textLead {
    color: $color-gray;
    font-size: $font-size-base + 2;
}


/*
   Grid
   ========================================================================== */

.grid {
    .grid-cell {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: lighten( $color-gray, 20% );
        @include box-shadow( 0 0 0 1px rgba(0, 0, 0, 0.15) inset );

        &:before {
            display: block;
            content: attr(class);
            font-weight: bold;
            color: #3e4143;
        }
    }
}