/* ==========================================================================
   Buttons
   ========================================================================== */

$btn-font-size: 16px !default;
$btn-default-color: #fff !default;
$btn-default-bgcolor: #079ae8 !default;


/**
 * base class for button
 */

.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: .7em .5em;
    border: 0 solid transparent;
    border: none rgba(0, 0, 0, 0);
    line-height: normal;
    vertical-align: middle;
    font-size: $btn-font-size;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-drag: none;
    background-image: none; // Reset unusual Firefox-on-Android default style
    user-select: none;

    &:focus {
        outline: 0;
    }

    &:active {
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
    }

    &[disabled] {
        @include opacity(0.4);
        border: none;
        background-image: none;
        cursor: not-allowed;
        box-shadow: none;
    }
}


/**
 * Modifiers: Different color
 */

.btn--default {
    color: $btn-default-color;
    background-color: $btn-default-color;

    &:focus,
    &:hover {
        background-color: darken($btn-default-color, 10%);
        text-decoration: none;
    }
}


/*
   Button without visual styles
   ========================================================================== */

.btnClean {
    // Prevent IOS forms default styling
    -webkit-appearance: none;
    box-shadow: none;
    -webkit-border-radius: 0;

    padding: 0;
    border: none;
    background-color: transparent;
    color: inherit;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:focus {
        outline: 0;
    }

    &[disabled] {
        border: none;
        background-image: none;
        cursor: not-allowed;
        box-shadow: none;
    }
}


/*
   Button behaves like link
   ========================================================================== */

.btnLink {
    @extend .btnClean;

    color: $link-color;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}