/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: .7em .5em;
    border: 0 solid transparent;
    border: none rgba(0, 0, 0, 0);
    line-height: normal;
    vertical-align: middle;
    font-size: $btn-font-size;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-drag: none;
    background-image: none; // Reset unusual Firefox-on-Android default style
    user-select: none;

    &:focus {
        outline: 0;
    }

    &:active {
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
    }

    &[disabled] {
        @include opacity(0.4);
        border: none;
        background-image: none;
        cursor: not-allowed;
        box-shadow: none;
    }
}


/**
 * Modifiers: Different color
 */

.btn--type1 {
    color: $btn-1-color;
    background-color: $btn-1-bgcolor;

    &:focus,
    &:hover {
        background-color: darken($btn-1-bgcolor, 10%);
        text-decoration: none;
    }
}

.btn--type2 {
    color: $btn-2-color;
    background-color: $btn-2-bgcolor;

    &:focus,
    &:hover {
        background-color: darken($btn-2-bgcolor, 10%);
        text-decoration: none;
    }
}


/**
 * Modifiers: Sizes
 */

.btn--sizeSm {
    padding: .4em .4em;
    font-size: 12px;
}

.btn--sizeMd {
    padding: .6em .6em;
    font-size: 14px;
}

.btn--sizeLg {
    padding: .8em .8em;
    font-size: 18px;
}


/*
   Button without visual styles
   ========================================================================== */

.btnClean {
    // Prevent IOS forms default styling
    -webkit-appearance: none;
    box-shadow: none;
    -webkit-border-radius: 0;

    padding: 0;
    border: none;
    background-color: transparent;
    color: inherit;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:focus {
        outline: 0;
    }

    &[disabled] {
        border: none;
        background-image: none;
        cursor: not-allowed;
        box-shadow: none;
    }
}


/*
   Button behaves like link
   ========================================================================== */

.btnLink {
    @extend .btnClean;

    color: $link-color;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}