/* ==========================================================================
   Checkboxes and radios
   ========================================================================== */

.radio,
.checkbox {
    display: block;
    min-height: $control-line-height * $control-font-size;
    padding-left: 20px;

    > label {
        display: inline;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }
}

.radio > input[type="radio"],
.checkbox > input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}


/* ==========================================================================
   Forms
   ========================================================================== */

.form {
    @extend %inline-block-wrapper;
}

.form-item {
    @extend %inline-block-element;
    width: 100%;
    margin-bottom: $line-height-base-px/2;
}