/* ==========================================================================
   grid
   ========================================================================== */

/**
 * Example uses:
 *
 * <div class="grid [grid--noGutter|grid--gutterSm] [grid--alignMiddle|grid--alignBottom]">
 *     <div class="grid-cell u-size1of2"></div>
 *     <div class="grid-cell u-size1of2"></div>
 *     <div class="grid-cell u-size1of3"></div>
 *     <div class="grid-cell u-size1of3"></div>
 * </div>
 */

/**
 * Placeholder for inline-block wrapper
 * 1. prevent grid collapse in all major devices
 */

%inline-block-wrapper {
    display: block;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif; /* 1 */
}

/* Opera hack */

.opera-only :-o-prefocus,
%inline-block-wrapper {
    word-spacing: -0.43em;
}


/**
 * Placeholder for inline-block element within inline-block-wrapper
 * 1. Resets the font family
 */

%inline-block-element {
    display: inline-block;
    vertical-align: middle;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    font-family: $site-font-family; /* 1 */
}


/* Grid container
   ========================================================================== */

.grid {
    @extend %inline-block-wrapper;
    margin-left: -$grid-gutter-default/2;
    margin-right: -$grid-gutter-default/2;
    text-align: left;
}


/**
 * Modifiers: No gutter
 */

.grid--noGutter {
    margin-left: 0;
    margin-right: 0;

    > .grid-cell {
        padding-left: 0;
        padding-right: 0;
    }
}


/**
 * Modifiers: grid cell alignment
 */

.grid--alignMiddle {
   > .grid-cell {
     vertical-align: middle;
   }
 }

.grid--alignBottom {
  > .grid-cell {
    vertical-align: bottom;
  }
}


/* Grid cell
   ========================================================================== */

.grid-cell {
    @extend %inline-block-element;
    width: 100%;
    padding-left: $grid-gutter-default/2;
    padding-right: $grid-gutter-default/2;
    vertical-align: top;
    text-align: left;
}