/* ==========================================================================
   Common list styles
   ========================================================================== */

/**
 * Unstyled list
 */

.listUnstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}


/**
 * List inline
 */

.listInline {
    @extend .ListUnstyled;
    @extend %inline-block-wrapper;

    > li {
        @extend %inline-block-element;
    }
}