/* ==========================================================================
   General site component
   ========================================================================== */


/*
   Site header
   ========================================================================== */

.siteHeader {
  margin-bottom: 20px;
  padding: 20px 0;
}


/*
   Site navigation
   ========================================================================== */

.siteNav {

}


/*
   Site container
   ========================================================================== */

.siteContainer {
  max-width: $site-width;
  margin: 0 auto;
}


/*
   Site footer
   ========================================================================== */

.siteFooter {
  margin-top: 20px;
  padding: 20px 0;
  color: $color-gray;
}
