/* ==========================================================================
   General site component
   ========================================================================== */

/*
   Sticky footer
   ========================================================================== */

html,
body {
    height: 100%;
}

.siteCover {
    min-height: 100%;
    overflow: hidden;
    margin-bottom: -50px;

    &:after {
        display: block;
        content: "";
    }
}

.siteFooter,
.siteCover:after {
    height: 50px;
}

.siteContent {
    padding-bottom: 50px;
}


/*
   Site header
   ========================================================================== */

.siteHeader {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 3px solid  lighten( $color-gray, 15% );
    padding-bottom: 20px;
}

.siteLogo {
    margin: 0;

    > a {
        text-decoration: none;
    }

    > small {
        display: block;
        font-size: $font-size-base;
        color: $color-gray;
    }
}


/*
   Site container
   ========================================================================== */

.siteContainer {
  max-width: $site-width;
  margin: 0 auto;
}


/*
   Site footer
   ========================================================================== */

.siteFooter {
    line-height: 50px;
    border-top: 1px solid lighten( $color-gray, 20% );
    color: $color-gray;
}
