/* ==========================================================================
   Button link
   ========================================================================== */

// component default variables

$link-color: #079ae8 !default;
$link-hover-color: inherit !default;

/**
 * Button looks like a anchor
 *
 * 1. Prevent IOS forms default styling
 */

.btnLink {
    -webkit-appearance: none; /* 1 */
    box-shadow: none; /* 1 */
    -webkit-border-radius: 0; /* 1 */

    padding: 0;
    border: none;
    text-decoration: underline;
    color: $link-color;
    background: transparent;
    cursor: pointer;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:focus {
        outline: 0;
    }

    &[disabled],
    &:disabled {
        border: none;
        background-image: none;
        cursor: not-allowed;
        box-shadow: none;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: $link-hover-color;
    }
}