/* ==========================================================================
   Button clean
   ========================================================================== */

/**
 * Button without styles, looks like plain text
 *
 * 1. Prevent IOS forms default styling
 */

.btnClean {
    -webkit-appearance: none; /* 1 */
    box-shadow: none; /* 1 */
    -webkit-border-radius: 0; /* 1 */

    padding: 0;
    border: none;
    background: transparent;
    color: inherit;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:focus {
        outline: 0;
    }

    &[disabled],
    &:disabled {
        border: none;
        background-image: none;
        cursor: not-allowed;
        box-shadow: none;
    }
}