/* ==========================================================================
   Grid
   ========================================================================== */

$grid-child-font-family: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif !default;
$grid-gutter-default: 20px !default;

/**
 * Example HTML:
 *
 * <div class="grid [grid--gutterNone|grid--gutterSm] [grid--alignMiddle|grid--alignBottom]">
 *     <div class="grid-cell u-size2"></div>
 *     <div class="grid-cell u-size4"></div>
 *     <div class="grid-cell u-size2"></div>
 *     <div class="grid-cell u-size4"></div>
 * </div>
 */


/* Grid container
   ========================================================================== */

.grid {
    box-sizing: border-box;
    display: block;
    margin-left: -$grid-gutter-default;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: -0.31em; /* remove extra space between 'inline-block' child elements */
    text-align: left;
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif; /* prevent grid collapse in all major devices */
    list-style: none;

    /* Use flexbox when possible to avoid `letter-spacing` side-effects. */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flext-start;
    direction: ltr;
}

/* Opera hack for parent to prevent inline-block extra space*/
.opera-only :-o-prefocus,
.grid {
    word-spacing: -0.43em;
}


/**
 * Modifiers: No gutter
 */

.grid--gutterNone {
    margin-left: 0;

    > .grid-cell {
        padding-left: 0;
    }
}


/**
 * Modifiers: grid cell alignment
 * 1 - For browsers with flexbox support
 */

.grid--alignMiddle {
    align-items: center; /* 1 */

    > .grid-cell {
        vertical-align: middle;
    }
}

.grid--alignBottom {
    align-items: flext-end; /* 1 */

    > .grid-cell {
        vertical-align: bottom;
    }
}

.grid--alignCenter {
    justify-content: center; /* 1 */
    text-align: center;
}

.grid--alignRight {
    justify-content: flex-end; /* 1 */
    text-align: right;
}


/* Grid cell
   ========================================================================== */

/**
 * No explicit width by default. Rely on combining `Grid-cell` with a size & offset
 * utility.
 */

.grid-cell {
    display: inline-block;
    width: 100%;
    min-height: 1px; /* Prevent collapsing when cell is empty */
    margin-left: 0;
    margin-right: 0;
    padding-left: $grid-gutter-default;
    padding-right: 0;
    vertical-align: top;
    text-align: left;

    /* Reset parent styles */
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    font-family: $grid-child-font-family; /* Resets the font family */
}