/* ==========================================================================
   Checkboxes and radios
   ========================================================================== */

.radio,
.checkbox {
    display: block;
    padding-left: 20px;

    > label {
        display: inline;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }
}

.radio > input[type="radio"],
.checkbox > input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}