/* ==========================================================================
   Table
   ========================================================================== */

$table-color: #000 !default;
$table-border-color: #bababa !default;
$table-background: #fff !default;
$table-head-background: lighten( #bababa, 15% ) !default;


.table {
    empty-cells: show;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: $table-border-color;

    caption {
        color: $table-color;
        padding: 1em 0;
        text-align: center;
    }

    td,
    th {
        color: $table-color;
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: $table-border-color;
        font-size: inherit;
        margin: 0;
        overflow: visible;
        padding: .5em .7em;
    }

    thead {
        background: $table-head-background;
        color: $table-color;
        text-align: left;
        vertical-align: bottom;
    }

    td {
        background-color: $table-background;
    }
}


/**
 * Modifier: Vertical bordered table
 */

.table--borderVertical {
    border-left: none;

    td,
    th {
        border-left-width: 1px;
    }
}


