/* ==========================================================================
   Common mixins
   ========================================================================== */

/* Media queries
   ========================================================================== */

// small devices
@mixin breakpoint-sm {
    @media #{$screen-small} {
        @content;
    }
}

// medium devices
@mixin breakpoint-md {
    @media #{$screen-medium} {
        @content;
    }
}

// large devices
@mixin breakpoint-lg {
    @media #{$screen-large} {
        @content;
    }
}

/* -------------------------------------------------------------------------- */

// Retina screens
@mixin screen-retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        @content;
    }
}


/* Gradients
   ========================================================================== */

// Horizontal gradient, from left to right
@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
    background-image: -webkit-gradient(linear, $start-percent top, $end-percent top, from($start-color), to($end-color)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, color-stop($start-color $start-percent), color-stop($end-color $end-percent)); // Safari 5.1+, Chrome 10+
    background-image: -moz-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // FF 3.6+
    background-image:  unquote("linear-gradient(to right, #{$start-color} #{$start-percent}, #{$end-color} #{$end-percent})"); // Standard, IE10
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

// Vertical gradient, from top to bottom
@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
    background-image: -webkit-gradient(linear, left $start-percent, left $end-percent, from($start-color), to($end-color)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, $start-color, $start-percent, $end-color, $end-percent); // Safari 5.1+, Chrome 10+
    background-image:  -moz-linear-gradient(top, $start-color $start-percent, $end-color $end-percent); // FF 3.6+
    background-image: unquote("linear-gradient(to bottom, #{$start-color} #{$start-percent}, #{$end-color} #{$end-percent})"); // Standard, IE10
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

// Reset filters for IE
@mixin reset-filter() {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}


/* Helplers
   ========================================================================== */

// Opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: alpha(opacity=#{$opacity-ie});
}

// rgba bg
@mixin rgba-bg($color, $opacity: 0.5) {
    $rgba: rgba($color, $opacity);
    $ie-hex-str: ie-hex-str($rgba);

    background: $color;
    background: transparent;
    background: $rgba;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
    zoom: 1;
}