/* ==========================================================================
   IE Helplers
   ========================================================================== */

/**
 * Opacity IE fallback
 */

@mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: "alpha(opacity=#{$opacity-ie})";
}


/**
 * rgba IE fallback
 */

@mixin rgba-bg($color, $opacity: 0.5) {
    $rgba: rgba($color, $opacity);
    $ie-hex-str: ie-hex-str($rgba);

    background: $color;
    background: transparent;
    background: $rgba;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$ie-hex-str}',endColorstr='#{$ie-hex-str}');
    zoom: 1;
}