/* ==========================================================================
   Media queries
   ========================================================================== */

/**
 * Mixins for predefined media-queries
 */

$utilities-media-queries: (
    sm: "only screen and (max-width: 767px)",
    md: "only screen and (min-width: 768px) and (max-width: 1023px)",
    lg: "only screen and (min-width: 1024px)"
) !default;

@mixin screen($prefix) {
    $media-query: map-get($utilities-media-queries, $prefix);
    @media #{$media-query} {
        @content;
    }
}

/* -------------------------------------------------------------------------- */

/**
 * Retina screens
 */

@mixin screen-retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
        @content;
    }
}