/* github.com/suitcss */

/* ==========================================================================
   Display utilities
   ========================================================================== */

/**
 * Completely remove from the flow and screen readers.
 */

.u-hidden {
    display: none !important;
    visibility: hidden !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */

.u-hiddenVisually {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
}

/**
 * Control visibility without affecting flow.
 */

.u-invisible {
    visibility: hidden !important;
}

.u-visible {
    visibility: visible !important;
}


/**
 * Display-type utilities
 */

.u-inline {
    display: inline !important;
}

.u-inlineBlock {
    display: inline-block !important;
}

.u-block {
    display: block !important;
}

.u-table {
    display: table !important;
}

.u-tableCell {
    display: table-cell !important;
}