/* ==========================================================================
   Sizes & Offsets
   ========================================================================== */

/**
 * Specify the proportional width and offset of an object.
 * Intentional redundancy build into each set of unit classes.
 * Supports: 2, 3, 4, 5, 6, 8, 10, 12 part
 */

$utilities-sizes-number: 12 !default;

/*
   Proportional widths
   ========================================================================== */

.u-sizeFull {
  width: 100% !important;
}

@for $i from 1 through $utilities-sizes-number {
    @for $j from 1 through $i {
        @if $j < $i {
            .u-size#{$j}of#{$i} { width: $j/$i * 100% !important; }
        }
    }
}


/* Offset before an object
   ========================================================================== */

@for $i from 1 through $utilities-sizes-number {
    @for $j from 1 through $i {
        @if $j < $i {
            .u-before#{$j}of#{$i} { width: $j/$i * 100% !important; }
        }
    }
}


/* Offset after an object
   ========================================================================== */

@for $i from 1 through $utilities-sizes-number {
    @for $j from 1 through $i {
        @if $j < $i {
            .u-after#{$j}of#{$i} { width: $j/$i * 100% !important; }
        }
    }
}