/* ==========================================================================
   Forms base styles
   ========================================================================== */

/*
   NORMALIZE Non control form elements
   ========================================================================== */

label {
    display: block;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    // Chrome and Firefox set a `min-width: -webkit-min-content;` on fieldsets,
    // so we reset that to ensure it behaves more like a standard block element.
    // See https://github.com/twbs/bootstrap/issues/12359.
    min-width: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    line-height: inherit;
}


/*
   NORMALIZE Control form elements
   ========================================================================== */

input,
button,
select,
select optgroup,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        height: auto;
    }
}

// Override content-box in Normalize
input[type="search"] {
    @include box-sizing( border-box );
}

// Set the height of file controls to match text inputs
input[type="file"] {
    display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
    display: block;
    width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
    height: auto;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9; /* IE8-9 */
    line-height: normal;
}

textarea {
    height: auto;
}


/*
   Common styles for control form elements
   ========================================================================== */

// Prevent IOS forms default styling
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="week"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    textarea {
        -webkit-appearance: none;
        box-shadow: none;
        -webkit-border-radius: 0;
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    display: block;
    width: 100%;
    height: ( floor( $control-font-size * $control-line-height ) + ( $control-padding-vertical * 2 ) + 2 );
    padding: $control-padding-vertical $control-padding-horizontal;
    line-height: $control-line-height;
    font-size: $control-font-size;
    border: 1px solid $control-border-color;
    color: $control-color;
    background-color: $color-white;
    background-image: none; // Reset Firefox-on-Android default style
    @include transition( 0.3s linear border );

    &:focus {
        outline: 0;
        border-color: darken( $control-border-color, 20% );
    }
}


/**
 * States
 */

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    // Default
    outline: thin dotted $control-border-color;
    // Webkit
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;

    &:invalid:focus {
        outline-color: $control-invalid-color
    }
}

input,
select,
textarea {
    &[readonly],
    &.is-readonly {
        color: $control-readonly-color;
    }

    &[disabled],
    &.is-disabled {
        cursor: not-allowed;
        color: $control-disabled-color;
        background-color: lighten( $control-border-color, 20% );
    }

    &:invalid,
    &.is-invalid {
        color: $control-invalid-color;
        border: 1px solid $control-invalid-color;

        &:focus {
            border-color: $control-invalid-color;
        }
    }
}

/**
 * placeholder color
 */

::-webkit-input-placeholder {
    color: $control-placeholder-color;
}

:-moz-placeholder {
    color: $control-placeholder-color;
}

:-ms-input-placeholder {
    color: $control-placeholder-color;
}

