/* ==========================================================================
   Scaffolding
   ========================================================================== */


/* Reset the box-sizing */

*,
*:before,
*:after {
    @include box-sizing( border-box );
}


/* Prevent grey overlay on touchstart in mobile Safari */

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    min-width: 320px;
    font-family: $site-font-family;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $site-color;
    background-color: $site-bg-color;
}


/**
 * Link
 */

a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}


/**
 * Tables
 */

table {
    max-width: 100%;
}


/**
 * Horizontal rule
 */

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid $color-gray;
}
