/* ==========================================================================
   Typography
   ========================================================================== */

// Headers

h1,
h2,
h3,
h4,
h5,
h6,
 {
    margin: 0 0 $line-height-base-px;
    font-weight: bold;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }


// Body text

p {
    margin: 0 0 $line-height-base-px;
}

small {
    font-size: 85%;
}

cite {
    font-style: normal;
}


// List

ul,
ol {
    margin-top: 0;
    margin-bottom: $line-height-base-px;
    ul,
    ol {
        margin-bottom: 0;
    }
}


// Description Lists

dl {
    margin-top: 0;
    margin-bottom: $line-height-base-px;
}

dt,
dd {
    line-height: $line-height-base;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

// Abbreviations and acronyms
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted $color-gray;
}

// Quotes
blockquote:before,
blockquote:after {
    content: "";
}

// Addresses
address {
    margin-bottom: $line-height-base-px;
    font-style: normal;
    line-height: $line-height-base;
}