/* ==========================================================================
   Basic styling for styleguide pages
   ========================================================================== */

/**
 * Color presenter
 */

.sg-color {
    display: inline-block;
    padding: 5px;
    min-height: 40px;
    border: 1px solid #d7d7d7;
    background-color: #f3f3f3;
    text-align: center;
}

.sg-color-box {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    border: 1px solid #d7d7d7;
}

/**
 * Box to group styles
 */

.sg-box {
    margin-bottom: 20px;
    border: 3px double #d7d7d7;
}

.sg-box-heading {
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #d7d7d7;
    font-size: 20px;
    background-color: #f3f3f3;
}

.sg-bod-content {
    padding: 20px;
}

/**
 * Form helpers
 */

.sd-control {
    margin-bottom: 10px;
}