/* ==========================================================================
   Helper mixins
   ========================================================================== */

/* Media queries mixins
   ========================================================================== */

/* small devices */

@mixin breakpoint-sm
{
    @media #{$screen-small} {
        @content;
    }
}

/* medium devices */

@mixin breakpoint-md
{
    @media #{$screen-medium} {
        @content;
    }
}

/* large devices */

@mixin breakpoint-lg
{
    @media #{$screen-large} {
        @content;
    }
}

/* -------------------------------------------------------------------------- */

/* Retina screens */

@mixin screen-retina
{
    @media #{$screen-retina} {
        @content;
    }
}


/* Additional CSS3 mixins
   ========================================================================== */

/* Opacity */

@mixin opacity($opacity) {
    zoom: 1;
    opacity: $opacity / 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity})";
}

/* rgba bg */

@mixin rgba-bg($color, $opacity: 0.5) {
    $rgba: rgba($color, $opacity);
    $ie-hex-str: ie-hex-str($rgba);

    background: $color;
    background: transparent;
    background: $rgba;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
    zoom: 1;
}