/* ==========================================================================
   Helper mixins
   ========================================================================== */
/* Media queries mixins
   ========================================================================== */
/* small devices */
/* medium devices */
/* large devices */
/* -------------------------------------------------------------------------- */
/* Retina screens */
/* Additional CSS3 mixins
   ========================================================================== */
/* Opacity */
/* rgba bg */
/* ==========================================================================
   States utilities
   ========================================================================== */
/**
 * Global states.
 * JavaScript may add/remove/toggle these classes.
 * All other states are component-scoped and use the `is-` prefix.
 */
/**
 * Completely remove from the flow and screen readers.
 */
.u-is-hidden {
  display: none !important;
  visibility: hidden !important; }

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.u-is-hidden-visually {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

/**
 * Control visibility without affecting flow.
 */
.u-is-visible {
  visibility: visible !important; }

.u-is-invisible {
  visibility: hidden !important; }

/**
 * Indicate that interaction will result in an (in)action.
 */
.u-is-actionable {
  cursor: pointer; }

.u-is-draggable {
  cursor: move; }

.u-is-disabled {
  cursor: default; }

/* ==========================================================================
   Layout utilities
   ========================================================================== */
.u-cf:before,
.u-cf:after {
  content: " ";
  display: table; }

.u-cf:after {
  clear: both; }

.u-nbfc {
  overflow: hidden; }

/**
 * Floats
 */
.u-pull-left {
  float: left !important; }

.u-pull-right {
  float: right !important; }

/**
 * Object floats
 */
.u-object-left {
  float: left !important;
  margin-right: 43px; }

.u-object-right {
  float: right !important;
  margin-left: 43px; }

/* ==========================================================================
   Text utilities
   ========================================================================== */
/**
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 */
.u-text-truncate {
  max-width: 100%;
  /* 1 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  /* 2 */ }

/**
 * Word breaking
 *
 * Break strings when their length exceeds the width of their container.
 */
.u-text-break {
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word; }

/* -------------------------------------------------------------------------- */
/**
 * Horizontal text alignment
 */
.u-text-center {
  text-align: center; }

.u-text-left {
  text-align: left; }

.u-text-right {
  text-align: right; }

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Prevent IOS forms default styling
 */
.btn-clean,
input,
input[type="search"],
select,
textarea {
  -webkit-appearance: none;
  box-shadow: none;
  -webkit-border-radius: 0; }

/**
 * General forms styling
 */
.form-control,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s linear border;
  -moz-transition: 0.3s linear border;
  transition: 0.3s linear border;
  display: block;
  width: 100%;
  padding: 7.5px 9px;
  margin-bottom: 0.5em;
  font-size: 14px;
  border: 1px solid #bababa;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: white; }
  .form-control:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  select:focus,
  textarea:focus {
    outline: 0;
    border-color: #878787; }
  .form-control[disabled],
  input[type="text"][disabled],
  input[type="password"][disabled],
  input[type="email"][disabled],
  input[type="url"][disabled],
  input[type="date"][disabled],
  input[type="month"][disabled],
  input[type="time"][disabled],
  input[type="datetime"][disabled],
  input[type="datetime-local"][disabled],
  input[type="week"][disabled],
  input[type="number"][disabled],
  input[type="search"][disabled],
  input[type="tel"][disabled],
  input[type="color"][disabled],
  select[disabled],
  textarea[disabled] {
    cursor: not-allowed;
    background-color: #ededed;
    color: #bababa; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  font-size: 14px;
  outline: thin dotted #f7f0e7;
  outline: 1px auto #f7f0e7; }
  input[type="file"]:focus:invalid:focus, input[type="file"]:focus.is-invalid,
  input[type="radio"]:focus:invalid:focus,
  input[type="radio"]:focus.is-invalid,
  input[type="checkbox"]:focus:invalid:focus,
  input[type="checkbox"]:focus.is-invalid {
    outline-color: #af0000; }

input,
select,
textarea {
  line-height: 14px; }
  input[readonly],
  select[readonly],
  textarea[readonly] {
    color: #bababa;
    border-color: #bababa; }
  input.is-invalid, input:invalid,
  select.is-invalid,
  select:invalid,
  textarea.is-invalid,
  textarea:invalid {
    color: #af0000;
    border: 1px solid #af0000; }
    input.is-invalid:focus, input:invalid:focus,
    select.is-invalid:focus,
    select:invalid:focus,
    textarea.is-invalid:focus,
    textarea:invalid:focus {
      border-color: #af0000; }
  input.is-success,
  select.is-success,
  textarea.is-success {
    border: 1px solid #526e20; }

select[multiple],
select[size] {
  height: auto; }

select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit; }

textarea {
  min-height: 105px;
  line-height: 1.2; }

label {
  margin: 0.5em 0 0.2em; }

fieldset {
  margin: 0;
  padding: 0 0 0.75em;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 1em;
  font-size: 100%;
  font-weight: bold;
  color: inherit;
  border-bottom: 1px solid #bababa; }

/**
 * placeholder color
 */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bababa; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bababa; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bababa; }

/*
 * Hide placeholder by focus
 */
input[placeholder]:focus::-webkit-input-placeholder,
textarea[placeholder]:focus::-webkit-input-placeholder {
  color: transparent !important; }

input[placeholder]:focus:-ms-input-placeholder,
textarea[placeholder]:focus:-ms-input-placeholder {
  color: transparent !important; }

input[placeholder]:focus::-moz-placeholder,
textarea[placeholder]:focus::-moz-placeholder {
  color: transparent !important; }

/* ==========================================================================
   Scaffolding
   ========================================================================== */
body {
  min-width: 320px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #333333;
  background-color: white; }

/**
 * Link
 */
a {
  color: inherit;
  text-decoration: underline; }
  a:hover, a:focus {
    text-decoration: none; }

/**
 * Headers
 */
h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

/**
 * Tables
 */
table {
  max-width: 100%; }

/**
 * Horizontal rule
 */
hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-top: 1px solid #bababa; }

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn-default, .btn-succes {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 0;
  border: 0 solid transparent;
  border: none rgba(0, 0, 0, 0);
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  /* Firefox: Get rid of the inner focus border */ }
  .btn-default::-moz-focus-inner, .btn-succes::-moz-focus-inner {
    padding: 0;
    border: 0; }
  .btn-default:focus, .btn-succes:focus {
    outline: 0; }
  .btn-default:active, .btn-succes:active {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset; }
  [disabled].btn-default, [disabled].btn-succes {
    zoom: 1;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    border: none;
    background-image: none;
    cursor: not-allowed;
    box-shadow: none; }

.btn-default {
  min-width: 140px;
  padding: .7em .5em;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #785d7b; }

.btn-succes {
  min-width: 140px;
  padding: .7em .5em;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #526e20; }

/* Button without visual styles
   -------------------------------------------------------------------------- */
.btn-clean {
  border: none;
  background-color: transparent;
  color: inherit; }
  .btn-clean::-moz-focus-inner {
    padding: 0;
    border: 0; }
  .btn-clean:focus {
    outline: 0; }
  .btn-clean[disabled] {
    border: none;
    background-image: none;
    cursor: not-allowed;
    box-shadow: none; }

/* ==========================================================================
   Table
   ========================================================================== */
.table {
  empty-cells: show;
  border: 1px solid #bababa; }
  .table caption {
    color: #333333;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center; }
  .table td,
  .table th {
    border-left: 1px solid #bababa;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 6px 12px; }
    .table td:first-child, .table td:first-child,
    .table th:first-child,
    .table th:first-child {
      border-left-width: 0; }
  .table thead {
    background: #bababa;
    color: #333333;
    text-align: left;
    vertical-align: bottom; }
  .table td {
    background-color: white; }
  .table .table-odd td {
    background-color: #e6e6e6; }

/**
 * .table modifier: Striped table
 * nth-child selector for modern browsers
 */
.table-striped tr:nth-child(2n-1) td {
  background-color: #e6e6e6; }

/**
 * .table modifier: Bordered table
 */
.table-bordered td {
  border-bottom: 1px solid #bababa; }
.table-bordered tbody > tr:last-child td,
.table-bordered tbody > tr:last-child td {
  border-bottom-width: 0; }

/**
 * .table modifier: Horizontal bordered table
 */
.table-horizontal td,
.table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #bababa; }
.table-horizontal tbody > tr:last-child td {
  border-bottom-width: 0; }

/* ==========================================================================
   Grid
   ========================================================================== */
.grid {
  display: block;
  margin-left: -21.5px;
  margin-right: -21.5px;
  text-align: left;
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
  /*
   * The following font stack makes grid work on all known environments.
   */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    /*
    Use flexbox when possible to avoid `letter-spacing` side-effects.

    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
    `-moz-` prefix version is omitted.
    */
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  /* IE10 uses display: flexbox */
  display: -ms-flexbox;
  -ms-flex-flow: row wrap; }

/* Opera hack */
.opera-only :-o-prefocus,
.grid {
  word-spacing: -0.43em; }

/**
 * Modifiers: Different gutter
 */
.grid-no-gutter {
  margin-left: 0;
  margin-right: 0; }
  .grid-no-gutter > .grid-cell {
    padding-left: 0;
    padding-right: 0; }

.grid-sm-gutter {
  margin-left: -5px;
  margin-right: -5px; }
  .grid-sm-gutter > .grid-cell {
    padding-left: 5px;
    padding-right: 5px; }

.grid-md-gutter {
  margin-left: -10px;
  margin-right: -10px; }
  .grid-md-gutter > .grid-cell {
    padding-left: 10px;
    padding-right: 10px; }

/**
 * Modifiers: Grid cell alignment
 */
.grid-align-middle > .grid-cell {
  vertical-align: middle; }

.grid-align-bottom > .grid-cell {
  vertical-align: bottom; }

/*
 * 1. Resets the font family
 */
.grid-cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  padding-left: 21.5px;
  padding-right: 21.5px;
  vertical-align: top;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  /* 1 */ }

.grid-cell-example {
  background: black;
  background: transparent;
  background: rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A000000,endColorstr=#1A000000);
  zoom: 1;
  min-height: 200px;
  padding: 21.5px; }
  .grid-nogutter > .grid-cell > .grid-cell-example {
    border: 1px solid #bababa; }

/**
 * Responsive agnostic sizes
 */
.size1 {
  width: 8.33333%; }

.size2 {
  width: 16.66667%; }

.size3 {
  width: 25%; }

.size4 {
  width: 33.33333%; }

.size5 {
  width: 41.66667%; }

.size6 {
  width: 50%; }

.size7 {
  width: 58.33333%; }

.size8 {
  width: 66.66667%; }

.size9 {
  width: 75%; }

.size10 {
  width: 83.33333%; }

.size11 {
  width: 91.66667%; }

.size12 {
  width: 100%; }

/**
 * Responsive sizes
 */
@media only screen and (min-width: 1024px) {
  .lg-size1 {
    width: 8.33333%; }

  .lg-size2 {
    width: 16.66667%; }

  .lg-size3 {
    width: 25%; }

  .lg-size4 {
    width: 33.33333%; }

  .lg-size5 {
    width: 41.66667%; }

  .lg-size6 {
    width: 50%; }

  .lg-size7 {
    width: 58.33333%; }

  .lg-size8 {
    width: 66.66667%; }

  .lg-size9 {
    width: 75%; }

  .lg-size10 {
    width: 83.33333%; }

  .lg-size11 {
    width: 91.66667%; }

  .lg-size12 {
    width: 100%; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .md-size1 {
    width: 8.33333%; }

  .md-size2 {
    width: 16.66667%; }

  .md-size3 {
    width: 25%; }

  .md-size4 {
    width: 33.33333%; }

  .md-size5 {
    width: 41.66667%; }

  .md-size6 {
    width: 50%; }

  .md-size7 {
    width: 58.33333%; }

  .md-size8 {
    width: 66.66667%; }

  .md-size9 {
    width: 75%; }

  .md-size10 {
    width: 83.33333%; }

  .md-size11 {
    width: 91.66667%; }

  .md-size12 {
    width: 100%; } }
@media only screen and (max-width: 767px) {
  .sm-size1 {
    width: 8.33333%; }

  .sm-size2 {
    width: 16.66667%; }

  .sm-size3 {
    width: 25%; }

  .sm-size4 {
    width: 33.33333%; }

  .sm-size5 {
    width: 41.66667%; }

  .sm-size6 {
    width: 50%; }

  .sm-size7 {
    width: 58.33333%; }

  .sm-size8 {
    width: 66.66667%; }

  .sm-size9 {
    width: 75%; }

  .sm-size10 {
    width: 83.33333%; }

  .sm-size11 {
    width: 91.66667%; }

  .sm-size12 {
    width: 100%; } }
/* ==========================================================================
   General site component
   ========================================================================== */
.site-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 21.5px;
  padding-right: 21.5px; }
