/* ==========================================================================
   Buttons
   ========================================================================== */
%btn-reset {
    @include box-sizing(border-box);
    margin-bottom: 0;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;

    /* Firefox: Get rid of the inner focus border */
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:hover,
    &:focus {

    }

    &:focus {
        outline: 0;
    }

    &[disabled] {
        @include opacity(40);
        border: none;
        background-image: none;
        cursor: not-allowed;
        box-shadow: none;
    }
}

%btn {
    @include box-sizing(border-box);
    display: inline-block;
    margin-bottom: 0;
    border: 0 solid transparent;
    border: none rgba(0, 0, 0, 0);
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;

    /* Firefox: Get rid of the inner focus border */
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:hover,
    &:focus {

    }

    &:focus {
        outline: 0;
    }

    &:active {
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
    }

    &[disabled] {
        @include opacity(40);
        border: none;
        background-image: none;
        cursor: not-allowed;
        box-shadow: none;
    }
}

.btn-default {
    @extend %btn;
    min-width: 140px;
    padding: .7em .5em;
    border-radius: $btn-border-radius;
    font-size: 17px;
    font-weight: bold;
    color: $color-white;
    background-color: $color-purple-light;
}

.btn-succes {
    @extend %btn;
    min-width: 140px;
    padding: .7em .5em;
    border-radius: $btn-border-radius;
    font-size: 17px;
    font-weight: bold;
    color: $color-white;
    background-color: $color-green;
}


/* Button without visual styles
   -------------------------------------------------------------------------- */

.btn-clean {
    @extend %webkit-no-appearance;
    border: none;
    background-color: transparent;
    color: inherit;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    &:focus {
        outline: 0;
    }

    &[disabled] {
        border: none;
        background-image: none;
        cursor: not-allowed;
        box-shadow: none;
    }
}
