/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  @include user-select( none );
  display: inline-block;
  margin-bottom: 0;
  padding: .7em .5em;
  border: 0 solid transparent;
  border: none rgba(0, 0, 0, 0);
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-drag: none;
  background-image: none; // Reset unusual Firefox-on-Android default style
  border-radius: $btn-border-radius;
  font-size: 17px;
  font-weight: bold;

  /* Firefox: Get rid of the inner focus border */
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:focus {
    outline: 0;
  }

  &:focus,
  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &:active {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
  }

  &[disabled] {
    @include opacity(40);
    border: none;
    background-image: none;
    cursor: not-allowed;
    box-shadow: none;
  }
}

/**
 * Modifiers: Different color
 */

.btn--default {

  color: $color-white;
  background-color: $color-purple-light;
}

/* Button without visual styles
   -------------------------------------------------------------------------- */

.btnClean {
  // Prevent IOS forms default styling
  -webkit-appearance: none;
  @include box-shadow(none);
  -webkit-border-radius: 0;

  border: none;
  background-color: transparent;
  color: inherit;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:focus {
    outline: 0;
  }

  &[disabled] {
    border: none;
    background-image: none;
    cursor: not-allowed;
    box-shadow: none;
  }
}
