/* ==========================================================================
   Grid
   ========================================================================== */

.grid {
    display: block;
    margin-left: -$grid-gutter/2;
    margin-right: -$grid-gutter/2;
    text-align: left;
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */

    /*
    The following font stack makes grid work on all known environments.
    */

    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;

    /*
    Use flexbox when possible to avoid `letter-spacing` side-effects.

    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
    `-moz-` prefix version is omitted.
    */

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;

    /* IE10 uses display: flexbox */
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}


/* Opera hack */

.opera-only :-o-prefocus,
.grid {
    word-spacing: -0.43em;
}


/*
1. Resets the font family
*/

.grid-cell {
    @include box-sizing(border-box);
    width: 100%;
    display: inline-block;
    padding-left: $grid-gutter/2;
    padding-right: $grid-gutter/2;
    vertical-align: top;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left;
    font-family: $font-family-base; /* 1 */
}

.grid-cell-example {
    min-height: 200px;
    background-color: $color-gray-light;
}

/**
 * Sizes
 */

@for $i from 1 through $grid-cols-number {
    .grid-cell-#{$i}of#{$grid-cols-number} {
        @extend .grid-cell;
        width: $grid-cols-width * $i;
    }
}


/**
 * Responsive sizes
 */

@media #{$screen-large} {
    .lg-size-full {
        @include box-sizing(border-box);
        display: block;
        width: 100%;
    }

    .lg-size1of2,
    .lg-size2of4 {
        width: 50%;
    }

    .lg-size1of3 {
        width: 33.3%;
    }

    .lg-size1of4 {
        width: 25%;
    }

    .lg-size3of4 {
        width: 75%;
    }
}

@media #{$screen-medium} {
    .md-size-full {
        @include box-sizing(border-box);
        display: block;
        width: 100%;
    }

    .md-size1of2,
    .md-size2of4 {
        width: 50%;
    }

    .md-size1of3 {
        width: 33.3%;
    }

    .md-size1of4 {
        width: 25%;
    }

    .md-size3of4 {
        width: 75%;
    }
}

@media #{$screen-small} {
    .sm-size-full {
        @include box-sizing(border-box);
        display: block;
        width: 100%;
    }

    .sm-size1of2,
    .sm-size2of4 {
        width: 50%;
    }

    .sm-size1of3 {
        width: 33.3%;
    }

    .sm-size1of4 {
        width: 25%;
    }

    .sm-size3of4 {
        width: 75%;
    }
}