/* ==========================================================================
   Grid
   ========================================================================== */

.grid {
    display: block;
    margin-left: -$grid-gutter-default/2;
    margin-right: -$grid-gutter-default/2;
    text-align: left;
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */

    /*
     * The following font stack makes grid work on all known environments.
     */

    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;

    /*
    Use flexbox when possible to avoid `letter-spacing` side-effects.

    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
    `-moz-` prefix version is omitted.
    */

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;

    /* IE10 uses display: flexbox */
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}


/* Opera hack */

.opera-only :-o-prefocus,
.grid {
    word-spacing: -0.43em;
}


/**
 * Modifiers: Different gutter
 */

.grid-no-gutter {
    margin-left: 0;
    margin-right: 0;

    > .grid-cell {
        padding-left: 0;
        padding-right: 0;
    }
}

.grid-sm-gutter {
    margin-left: -$grid-gutter-sm/2;
    margin-right: -$grid-gutter-sm/2;

    > .grid-cell {
        padding-left: $grid-gutter-sm/2;
        padding-right: $grid-gutter-sm/2;
    }
}

.grid-md-gutter {
    margin-left: -$grid-gutter-md/2;
    margin-right: -$grid-gutter-md/2;

    > .grid-cell {
        padding-left: $grid-gutter-md/2;
        padding-right: $grid-gutter-md/2;
    }
}


/**
 * Modifiers: Grid cell alignment
 */

.grid-align-middle {
    > .grid-cell {
        vertical-align: middle;
    }
}

.grid-align-bottom {
    > .grid-cell {
        vertical-align: bottom;
    }
}


/*
 * 1. Resets the font family
 */

.grid-cell {
    @include box-sizing(border-box);
    width: 100%;
    display: inline-block;
    padding-left: $grid-gutter-default/2;
    padding-right: $grid-gutter-default/2;
    vertical-align: top;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: left;
    font-family: $font-family-base; /* 1 */
}

.grid-cell-example {
    @include rgba-bg(#000, 0.1);
    min-height: 200px;
    padding: $grid-gutter-default/2;

    .grid-nogutter > .grid-cell > & {
        border: 1px solid $color-gray;
    }
}


/**
 * Responsive agnostic sizes
 */

@for $i from 1 through $grid-cols-number {
    .size#{$i} { width: $grid-cols-width * $i; }
}


/**
 * Responsive sizes
 */

@media #{$screen-large} {
    @for $i from 1 through $grid-cols-number {
        .lg-size#{$i} { width: $grid-cols-width * $i; }
    }
}
@media #{$screen-medium} {
    @for $i from 1 through $grid-cols-number {
        .md-size#{$i} { width: $grid-cols-width * $i; }
    }
}

@media #{$screen-small} {
    @for $i from 1 through $grid-cols-number {
        .sm-size#{$i} { width: $grid-cols-width * $i; }
    }
}