/* ==========================================================================
   Grid
   ========================================================================== */

/**
 * Placeholder for inline-block wrapper
 * 1. prevent grid collapse in all major devices
 */

%inline-block-wrapper {
    display: block;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif; /* 1 */
}

/* Opera hack */

.opera-only :-o-prefocus,
%inline-block-wrapper {
    word-spacing: -0.43em;
}


/**
 * Placeholder for inline-block element within inline-block-wrapper
 * 1. Resets the font family
 */

%inline-block-element {
    display: inline-block;
    vertical-align: middle;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    font-family: $site-font-family; /* 1 */
}


/* Grid
   -------------------------------------------------------------------------- */

.Grid {
    @extend %inline-block-wrapper;
    margin-left: -$grid-gutter-default/2;
    margin-right: -$grid-gutter-default/2;
    text-align: left;

    /*
    Use flexbox when possible to avoid `letter-spacing` side-effects.

    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
    `-moz-` prefix version is omitted.
    */

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;

    /* IE10 uses display: flexbox */
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}


/**
 * Modifiers: Different gutter
 */

.Grid--noGutter {
    margin-left: 0;
    margin-right: 0;

    > .grid-cell {
        padding-left: 0;
        padding-right: 0;
    }
}

/**
 * Modifiers: Grid cell alignment
 */

.Grid--alignMiddle {
    > .Grid-cell {
        vertical-align: middle;
    }
}

.Grid--alignBottom {
    > .grid-cell {
        vertical-align: bottom;
    }
}


/**
 * Grid cell
 */

.Grid-cell {
    @extend %inline-block-element;
    width: 100%;
    padding-left: $grid-gutter-default/2;
    padding-right: $grid-gutter-default/2;
    vertical-align: top;
    text-align: left;
}

.Grid-cell--example {
    @include rgba-bg(#000, 0.1);
    min-height: 200px;
    padding: $grid-gutter-default/2;

    .grid-nogutter > .grid-cell > & {
        border: 1px solid $color-gray;
    }
}


/* Sizes
   -------------------------------------------------------------------------- */

/**
 * Responsive agnostic sizes
 */

@for $i from 1 through $grid-cols-number {
    .size#{$i} { width: $grid-cols-width * $i; }
}


/**
 * Responsive sizes
 */

@media #{$screen-large} {
    @for $i from 1 through $grid-cols-number {
        .lg-size#{$i} { width: $grid-cols-width * $i; }
    }
}
@media #{$screen-medium} {
    @for $i from 1 through $grid-cols-number {
        .md-size#{$i} { width: $grid-cols-width * $i; }
    }
}

@media #{$screen-small} {
    @for $i from 1 through $grid-cols-number {
        .sm-size#{$i} { width: $grid-cols-width * $i; }
    }
}