/* ==========================================================================
   General site component
   ========================================================================== */

.site-container {
    @include box-sizing(content-box);
    max-width: $site-width;
    margin: 0 auto;
    padding-left: $grid-gutter-default/2;
    padding-right: $grid-gutter-default/2;
}


/* Site header
   -------------------------------------------------------------------------- */

.site-header {

}


/**
 * Utilities block
 */

.site-utilities {

}


/**
 * Heading with logo
 */

.site-logo {

}


/**
 * Main navigation
 */

.site-nav {

}


/* Site footer
   -------------------------------------------------------------------------- */

.site-footer {

}
