/* ==========================================================================
   General site component
   ========================================================================== */

.site-container {
    @include box-sizing(content-box);
    max-width: $site-width;
    margin: 0 auto;
    padding-left: $grid-gutter-default/2;
    padding-right: $grid-gutter-default/2;
}