/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Prevent IOS forms default styling
 */

%webkit-no-appearance,
input,
input[type="search"],
select,
textarea {
    -webkit-appearance: none;
    @include box-shadow(none);
    -webkit-border-radius: 0;
}


/**
 * General forms styling
 */

.form-control,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    @include box-sizing(border-box);
    @include transition(0.3s linear border);
    display: block;
    width: 100%;
    padding: $control-padding-vertical $control-padding-horizontal;
    margin-bottom: $control-margin-bottom;
    font-size: $control-font-size;
    border: 1px solid $control-border-color;
    border-radius: $control-border-radius;
    -webkit-border-radius: $control-border-radius;
    background-color: $color-white;

    &:focus {
        outline: 0;
        border-color: darken( $control-border-color, 20% );
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: lighten( $control-disabled-color, 20% );
        color: $control-disabled-color;
    }
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    font-size: $control-font-size;
    outline: thin dotted $color-orange-light;
    outline: 1px auto $color-orange-light;

    &:invalid:focus,
    &.is-invalid {
        outline-color: $control-invalid-color
    }
}

input,
select,
textarea {
    line-height: $control-line-height;

    &[readonly] {
        color: $control-readonly-color;
        border-color: $control-readonly-color;
    }

    &.is-invalid,
    &:invalid {
        color: $control-invalid-color;
        border: 1px solid $control-invalid-color;

        &:focus {
            border-color: $control-invalid-color;
        }
    }

    &.is-success {
        border: 1px solid $control-success-color;
    }
}

select[multiple],
select[size] {
    height: auto;
}

select optgroup {
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
}

textarea {
    min-height: 105px;
    line-height: $line-height-base;
}

label {
    margin: 0.5em 0 0.2em;
}

fieldset {
    margin: 0;
    padding: 0 0 0.75em;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 1em;
    font-size: 100%;
    font-weight: bold;
    color: inherit;
    border-bottom: 1px solid $control-border-color;
}


/**
 * placeholder color
 */

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: $control-placeholder-color;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: $control-placeholder-color;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: $control-placeholder-color;
}


/*
 * Hide placeholder by focus
 */

input[placeholder]:focus::-webkit-input-placeholder,
textarea[placeholder]:focus::-webkit-input-placeholder {
    color: transparent !important;
}

input[placeholder]:focus:-ms-input-placeholder,
textarea[placeholder]:focus:-ms-input-placeholder {
    color: transparent !important;
}

input[placeholder]:focus::-moz-placeholder,
textarea[placeholder]:focus::-moz-placeholder {
    color: transparent !important;
}