/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Prevent IOS forms default styling
 */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="week"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    textarea {
        -webkit-appearance: none;
        @include box-shadow( none );
        -webkit-border-radius: 0;
    }
}

/**
 * Control form elements
 */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
    @include box-sizing(border-box);
    @include transition(0.3s linear border);
    display: block;
    width: 100%;
    height: ( floor( $control-font-size * $control-line-height ) + ( $control-padding-vertical * 2 ) + 2 );
    padding: $control-padding-vertical $control-padding-horizontal;
    line-height: $control-line-height;
    font-size: $control-font-size;
    border: 1px solid $control-border-color;
    border-radius: $control-border-radius;
    -webkit-border-radius: $control-border-radius;
    background-color: $color-white;
    background-image: none; // Reset Firefox-on-Android default style

    &:focus {
        outline: 0;
        border-color: darken( $control-border-color, 20% );
    }
}

input[type="file"] {
    display: block;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    // Default
    outline: thin dotted $control-border-color;
    // Webkit
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;

    &:invalid:focus {
        outline-color: $control-invalid-color
    }
}

input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        height: auto;
    }
}

select[multiple],
select[size] {
    height: auto;
}

select optgroup {
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
}

textarea {
    height: auto;
}


/**
 * States
 */

input,
select,
textarea {
    &[readonly] {
        color: lighten( $control-border-color, 20% );
        border-color:  lighten( $control-border-color, 20% );
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: lighten( $control-border-color, 20% );
        color: $control-border-color;
    }

    &:invalid {
        color: $control-invalid-color;
        border: 1px solid $control-invalid-color;

        &:focus {
            border-color: $control-invalid-color;
        }
    }
}


/**
 * Checkboxes and radios
 */

.radio,
.checkbox {
    display: block;
    min-height: $control-line-height * $control-font-size;
    padding-left: 20px;

    > label {
        display: inline;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }
}

.radio > input[type="radio"],
.checkbox > input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}


/**
 * Non control form elements
 */

label {
    display: inline-block;
    margin-bottom: 10px;
}

fieldset {
    padding: 0;
    margin: 0 0 10px;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    border: 0;
    border-bottom: 1px solid $control-border-color;
    font-size: 1.2em;
    font-weight: bold;
    color: inherit;
}


/**
 * placeholder color
 */

::-webkit-input-placeholder {
    color: $control-placeholder-color;
}

:-moz-placeholder {
    color: $control-placeholder-color;
}

:-ms-input-placeholder {
    color: $control-placeholder-color;
}