/* ==========================================================================
   Scaffolding
   ========================================================================== */

body {
    min-width: 320px;
    font-family: $site-font-family;
    font-size: $font-size-base;
    line-height: $line-height-default;
    color: $site-color;
    background-color: $site-bg-color;
}


/**
 * Link
 */

a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}


/**
 * Headers
 */

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }


/**
 * Tables
 */

table {
    max-width: 100%;
}


/**
 * Horizontal rule
 */

hr {
    margin-top: $space-vertical-base;
    margin-bottom: $space-vertical-base;
    border: 0;
    border-top: 1px solid $color-gray;
}
